{% extends "layout.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="col-xs-12 card text-center">
            <h1>{% trans "Change Password" %}</h1>

            <div class="">
                {{ form.username.errors }}
                {{ form.email.errors }}
                {{ form.password1.errors }}
                {{ form.password2.errors }}
            </div>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                <div class="col-sm-4 col-sm-offset-4">
                    <input class="form-control" id="id_oldpassword" name="oldpassword" placeholder="Current Password" type="password" required="">
                </div>

                <div class="col-sm-4 col-sm-offset-4">
                    <input class="form-control" id="id_password1" name="password1" placeholder="New Password" type="password" required="">
                </div>

                <div class="col-sm-4 col-sm-offset-4">
                    <input class="form-control" id="id_password2" name="password2" placeholder="New Password (again)" type="password" required="">
                </div>

                <div class="col-sm-4 col-sm-offset-4">
                    <button class="btn btn-danger" type="submit" name="action">{% trans "Change Password" %}</button>
                </div>

            </form>
        </div>
    </div>
</div>






{% endblock %}
